{% extends "main.html" %}
<!DOCTYPE html>
<html>
<head>
    {% block cabezera %}
        {{ block.super }}
    {% endblock cabezera%}
<body>
    {% block navbar %}
        {{ block.super }}
    {% endblock navbar%}   
    <div class="resultados" align="center" >
        {% block error %}
            {{ block.super }}
        {% endblock error %}
        {% block resultados %}
            <b><center>Archivos adicionales</center></b>
            {% if rel|length > 0 %}
              <div class="well visible-phone">
                {% for file in rel%}
                    <div class="apk1">                
                        <label class="pull-left">{{ file|truncatechars:30 }}</label>
                        <span class="label label-info pull-right">v{{apk.versionName|truncatechars:30}}</span>
                        <img src="/static/file.png" class="img-rounded icono"/>
                        <a class="btn btn-info descarga pull-right" href="/apk{{ apk.pool }}{{ dir }}/{{ file }}"><i class="icon-download"></i>Descargar</a>
                    </div>                 
                {% endfor %}
               </div>
              <div class="well visible-tablet">
                {% for file in rel%}
                  <div class="span6">
                    <div class="apk">                
                        <label class="pull-left">{{ file|truncatechars:30 }}</label>
                        <span class="label label-info pull-right">v{{apk.versionName|truncatechars:30}}</span>
                        <img src="/static/file.png" class="img-rounded icono"/>
                        <a class="btn btn-info descarga pull-right" href="/apk{{ apk.pool }}{{ dir }}/{{ file }}"><i class="icon-download"></i>Descargar</a>
                    </div>
                   </div>                  
                {% endfor %}
               </div>
              <div class="well visible-desktop">
                {% for file in rel%}
                  <div class="span4">
                    <div class="apk">                
                        <label class="pull-left">{{ file|truncatechars:30 }}</label>
                        <span class="label label-info pull-right">v{{apk.versionName|truncatechars:30}}</span>
                        <img src="/static/file.png" class="img-rounded icono"/>
                        <a class="btn btn-info descarga pull-right" href="/apk{{ apk.pool }}{{ dir }}/{{ file }}"><i class="icon-download"></i>Descargar</a>
                    </div> 
                   </div>                 
                {% endfor %}
               </div>                      
            {% endif %}
            </div>
            <a class="btn btn-info go-back" align="center" style="margin-bottom: 25px;" href="javascript:history.go(-1)" >Atrás</a>    
        {% endblock resultados %}  
                 
    </div>

</body>
</html>