<!--
   main.html

   Copyright 2014
   Jorge Alberto Díaz Orozco <jaorozco@estudiantes.uci.cu>
   Manuel Alejandro Sánchez del Campo <madelcampo@estudiantes.uci.cu>
   Carlos Osiel Rojas Velázquez <corojas@uci.cu>

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.


-->
{% extends "main.html" %}
<!DOCTYPE html>
<html>
    {% block cabezera %}
        {{ block.super }}
    {% endblock cabezera%}
<body>
    {% block navbar %}
        {{ block.super }}
		<b><center>Archivos adicionales</center></b>
    {% endblock navbar%}
	
    <div class="resultados" align="center" >
        {% block error %}
            {{ block.super }}
        {% endblock error %}
        
        {% block resultados %}

            {% if rel|length > 0 %}
              <div class="visible-phone" style="margin-right: 5%;">
                {% for file in rel%}
                    <div class="apk1">                
                        <label style="margin-left: 5px;" class="pull-left">{{ file|truncatechars:30 }}</label>
                        <span class="label label-info pull-right">v{{apk.versionName|truncatechars:30}}</span>
                        <img style="margin-left: 5px;" src="/static/file.png" class="img-rounded icono"/>
                        <a class="btn btn-info descarga pull-right" href="/apk{{ apk.pool }}{{ dir }}/{{ file }}"><i class="icon-download"></i>Descargar</a>
                    </div>                 
                {% endfor %}
               </div>
              <div style="margin-left: 3%;" class="visible-tablet">
                {% for file in rel%}
                  <div class="span6">
                    <div class="apk">                
                        <label style="margin-left: 5px;" class="pull-left">{{ file|truncatechars:30 }}</label>
                        <span class="label label-info pull-right">v{{apk.versionName|truncatechars:30}}</span>
                        <img style="margin-left: 5px;"src="/static/file.png" class="img-rounded icono"/>
                        <a class="btn btn-info descarga pull-right" href="/apk{{ apk.pool }}{{ dir }}/{{ file }}"><i class="icon-download"></i>Descargar</a>
                    </div>
                   </div>                  
                {% endfor %}
               </div>
              <div style="margin-left: 5%; margin-top: 20px;" class="pagination-centered hidden-tablet hidden-phone">
                {% for file in rel%}
                  <div class="span4">
                    <div class="apk">                
                        <label style="margin-left: 5px;" class="pull-left">{{ file|truncatechars:30 }}</label>
                        <span class="label label-info pull-right">v{{apk.versionName|truncatechars:30}}</span>
                        <img style="margin-left: 5px;" src="/static/file.png" class="img-rounded icono"/>
                        <a class="btn btn-info descarga pull-right" href="/apk{{ apk.pool }}{{ dir }}/{{ file }}"><i class="icon-download"></i>Descargar</a>
                    </div> 
                   </div>                 
                {% endfor %}
               </div>                      
            {% endif %}
            </div>
            <a class="btn btn-info go-back" align="center" style="margin-bottom: 25px; margin-top: 20px;" href="javascript:history.go(-1)" >Atrás</a>    
        {% endblock resultados %}  

    {% block pagination %}
    {% endblock %}
    </div>

</body>
</html>
