<!DOCTYPE html>
<html>
<head>
	{% block cabezera %}
    <title>APKStore</title>
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
    {% endblock cabezera %}
</head>
<body>
 	 {% block navbar %}
     <div class='navbar navbar-inverse  navbar-fixed-top'>
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">APKStore</a>                
                <form id="fsearch" class="theform navbar-search navbar-form pull-right" method="POST" action="">
                    {% csrf_token %}
                    <input type="text" id="search" name="asearch" class="span2 search-query input-buscar" placeholder="Buscar">
                </form>                
            </div>
        </div>
    </div>
    {% endblock navbar%}
      <div class="resultados" >
        {% block error %}
        {%if err%}
            <div class="alert alert-error">
                <p class="error">
                    {{ msg }}
                </p>
            </div>
        {% endif %}
        {% endblock error %}
      <div class="row">
        {% block resultados %}
        {% for apk in cursor %}  
              <div class="span6">          
                <div class="apk">
                    <label class="pull-left">{{ apk.0 }}</label>
                    <span class="label label-info pull-right">v{{apk.3}}</span>
                    <img src="/ico/{{ apk.1 }} " class="img-rounded icono"/>
                    <a class="btn btn-info descarga pull-right" href="/apk{{ apk.5 }}{{ apk.2 }}"><i class="icon-download"></i>Descargar</a>
                    {% if apk.7|length > 0 %}
                        <a class="btn btn-info descarga pull-right" href="/{{ apk.6 }}"><i class="icon-download"></i>Adicionales</a>
                    {% endif %}
                </div>
              </div>            
        {% endfor %}
        {% endblock resultados %}
      </div>  
    </div>
</body>
</html>