<!--
   main.html

   Copyright 2014
   Jorge Alberto Díaz Orozco <jaorozco@estudiantes.uci.cu>
   Manuel Alejandro Sánchez del Campo <madelcampo@estudiantes.uci.cu>
   Carlos Osiel Rojas Velázquez <corojas@uci.cu>

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.


-->
{% extends "base.html" %}

<!DOCTYPE html>
<html>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
{% block body %}
      <div class="resultados" align="center">
        {% block error %}
        {%if err%}
            <div class="alert alert-error">
                <p class="error">
                    {{ msg }}
                </p>
            </div>
        {% endif %}
        {% endblock error %}
    <div class="row" responsive-utilities>
        {% block resultados %}
       <div class="visible-phone" style="margin-right:5%;">
        {% for apk in cursor %}
        	<div class="span12">
                <div class="apk1">
                    <label style="margin-left: 5px;" class="pull-left" style="margin-left:10px">{{ apk.nombre|truncatechars:30 }}</label>
                    <span class="label label-info pull-right">v{{ apk.versionName|truncatechars:30 }}</span>
                    <img src="/ico/{{ apk.icon }} " class="img-rounded icono" style="margin-left:10px"/>
                    <a class="btn btn-info descarga pull-right" href="/apk{{ apk.pool }}/{{ apk.ruta }}" style="margin-right: 5px; margin-top: 20px;"><i class="icon-download"></i>Descargar</a>
                    {% if apk.relativo|length > 0 %}
                        <a class="btn btn-info descarga pull-right" href="/adicionales/{{ apk.ind }}" style="margin-right: 5px; margin-top: 20px;"><i class="icon-download"></i>Adicionales</a>
                    {% endif %}
             </div>   
              </div>   

        {% endfor %}
     </div>
               <div style="margin-left: 3%;" class="visible-tablet">
        {% for apk in cursor %}
              <div class="span6">
                <div class="apk">
                    <label style="margin-left: 5px;" class="pull-left">{{ apk.nombre|truncatechars:30 }}</label>
                    <span class="label label-info pull-right">v{{ apk.versionName|truncatechars:30 }}</span>
                    <img src="/ico/{{ apk.icon }} " class="img-rounded icono"/>
                    <a class="btn btn-info descarga pull-right" href="/apk{{ apk.pool  }}/{{ apk.ruta }}" style="margin-right: 5px; margin-top: 20px;"><i class="icon-download"></i>Descargar</a>
                    {% if apk.relativo|length > 0 %}
                        <a class="btn btn-info descarga pull-right" href="/adicionales/{{ apk.ind }}" style="margin-right: 5px; margin-top: 20px;"><i class="icon-download"></i>Adicionales</a>
                    {% endif %}
             </div>   
              </div>            
        {% endfor %}
        </div>
      <div style="margin-left: 5%;" class="pagination-centered hidden-tablet hidden-phone">
        {% for apk in cursor %}
              <div class="span4">
                <div class="apk">
                    <label style="margin-left: 5px;" class="pull-left">{{ apk.nombre|truncatechars:30 }}</label>
                    <span class="label label-info pull-right">v{{apk.versionName|truncatechars:30}}</span>
                    <img src="/ico/{{ apk.icon }} " class="img-rounded icono"/>
                    <a class="btn btn-info descarga pull-right" href="/apk{{ apk.pool }}/{{ apk.ruta }}" style="margin-right: 5px; margin-top: 20px;"><i class="icon-download"></i>Descargar</a>
                    {% if apk.relativo|length > 0 %}
                        <a class="btn btn-info descarga pull-right" href="/adicionales/{{ apk.ind }}" style="margin-right: 5px; margin-top: 20px;"><i class="icon-download"></i>Adicionales</a>
                    {% endif %}
             </div>   
              </div>            
        {% endfor %}
        </div>
        {% endblock resultados %}
        </div>
        </div>
     {% block pagination %}
         {%if not err%}
            {% if cursor|length > 0 %}
                <footer class="footer hidden-print text-center">
                 <div class="pagination">
					
                    <span class="step-links">
                        {% if cursor.has_previous %}
                            <a class="btn btn-sm btn-info" href="/buscar/{{ asearch }}/{{ cursor.previous_page_number }}"></a>
                        {% endif %}

                        <span class="btn btn-inactive btn-sm btn-info">
                            <b>{{ cursor.number }} of {{ cursor.paginator.num_pages }}</b>
                        </span>

                        {% if cursor.has_next %}
                            <a class="btn btn-sm btn-info" href="/buscar/{{ asearch }}/{{ cursor.next_page_number }}"></a>
                        {% endif %}
                    </span>
            </div>
            </footer>
        {% endif %}
        {% endif %}
     {% endblock %}
     </div>
{% endblock %}
</body>
</html>
